<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Về thức ăn nhanh
                        </h2>
                    </div>
                    <p>
                        Đồ ăn nhanh là một lựa chọn tiện lợi và nhanh chóng cho những người đang bận rộn. Chúng có thể được mua và ăn ngay tại điểm bán hàng hoặc mang đi. Đồ ăn nhanh cũng cung cấp cho khách hàng lựa chọn đa dạng về món ăn, đảm bảo sự tiện lợi và đáp ứng nhu cầu của khách hàng trong thời gian ngắn. Ngoài ra, nhiều cửa hàng đồ ăn nhanh đã bắt đầu cung cấp các sản phẩm sạch và tự nhiên hơn, giúp cải thiện chất lượng và giá trị dinh dưỡng của đồ ăn nhanh.
                    </p>
                    <a href="">
                        Đọc thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
